<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ slide.title }}</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div style="text-align:center; margin-bottom:5px; font-family: Verdana, serif; font-size: 17px">
    <p>{{ slide.title }}</p>
</div>

<div align="center">
  <img src="{{ slide.img }}" style="max-width: 90%; border: 1px solid #ccc;">
</div>

{% if slide.caption %}
<p align="center"><small>{{ slide.caption }}</small></p>
{% endif %}

<br>

<div align="center">
  <a href="{{ prev }}">⬅ Prev</a> |
  <a href="index.html">☰ Contents</a> |
  <a href="{{ next }}">Next ➡</a>
</div>

</body>
</html>
